<% if @page != false %>
	<div class="row">
		<div class="col-xs-12">
			<%= will_paginate @participants %>
		</div>
	</div>
<% end %>
<% @participants.each do |p| %>
	<% if winner == false %>
		<%= render 'participant_details', participant: p, winner: false, week: week %>
	<% else %>
		<%= render 'participant_details', participant: p, winner: true, week: week %>
	<% end %>
<% end %>
<% if @page != false %>
	<%= will_paginate @participants %>
<% end %>
<script>
	function load_reporting_interface(participant_id){
		$.post("/load_report_interface.js",{
			participant_id: participant_id	
		});
	}

	function got_shirt(participant_id){
		var target_div = '#got_shirt_' + participant_id + ':checked'
		var got_shirt = $(target_div).val()
		$.post("/mark_got_shirt.json",{
			id: participant_id,
			got_shirt: got_shirt	
		});
	}
</script>