var content = "<div class='container' style='overflow-x: hidden; width: 90%'>"
content += "<%= escape_javascript(render 'report_interface', :locals => {:participant => @participant, :weeks => @weeks, :from_patron => @from_patron}) %>"
content +="</div>"
$.fancybox.open({ 
    'overlayOpacity': 0.1,
    'content' : content
});
$.fancybox.update()
$.fancybox.reposition()